@import "../../../../assets/sass/variables";
@import "../../../../assets/sass/mixins";

.contact-card {
  $self: &;

  padding: 10px 12px 15px 12px;

  border: 1px solid $border;
  border-radius: 5px;

  &__image {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin: -10px auto 0 auto;
    overflow: hidden;

    border: 3px solid $border;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__name {
    margin-top:15px;

    font-weight: 600;
    color: $link;
    font-size: 1.2rem;
    text-align: center;
  }

  &__actions {
    display: flex;
  }

  &__action {
    display: block;

    &--edit {
      margin-left: auto;
    }

    &--delete {
      margin-left: 22px;
    }
  }

  &__link {
    display: blocK;

    &:hover {
      #{$self}__image {
        border-color: $primary;
      }

      #{$self}__name {
        color: $primary;
      }
    }
  }

  &:hover {
    border-color: $primary;
  }
}
