<div class="contact-card">
  <div class="contact-card__actions">
    <app-favourite-btn class="contact-card__action contact-card__action--fav" [contact]="contact"></app-favourite-btn>
    <app-edit-btn class="contact-card__action contact-card__action--edit" [contact]="contact"></app-edit-btn>
    <app-delete-btn class="contact-card__action contact-card__action--delete" (click)="deleteContact()"></app-delete-btn>
  </div>
  <a class="contact-card__link" [routerLink]="contactRoute">
    <div class="contact-card__image">
      <img [src]="contact.image || '/assets/images/user.svg'" alt="Contact image">
    </div>
    <div class="contact-card__name">
      {{ contact.name }}
    </div>
  </a>
</div>
