<div class="menu">
  <ul class="menu__list">
    <li *ngFor="let item of menu" class="menu__item">
      <a class="menu__link" routerLinkActive="menu__link--active" [routerLink]="item.path">{{ item.name }}</a>
    </li>
  </ul>
</div>

