@import "../../../../assets/sass/variables";
@import "../../../../assets/sass/mixins";

.menu {
  border-bottom: 2px solid $primary;

  &__list {
    @include reset-list();

    display: flex;
    justify-content: center;
    margin-bottom: 45px;
  }

  &__item {
    position: relative;
    padding: 0 30px;

    text-align: center;

    &:not(:last-of-type) {
      &:after {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        width: 1px;
        height: 15px;

        background: $border;
        content: '';
      }
    }
  }

  &__link {
    font-size: 1.25rem;
    line-height: 1;

    &--active {
      color: $primary;
    }

  }
}
