@import "../../../../assets/sass/variables";
@import "../../../../assets/sass/mixins";

.contacts {

  &__list {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__item {
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;

    padding-right: 15px;
    padding-left: 15px;

    margin-bottom: 25px;

    @media (max-width: $xl) {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }

    @media (max-width: $md) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media (max-width: $xs) {
      flex: 0 0 100%;
      max-width: 100%;

      margin-bottom: 10px;
    }
  }

  &__search-input-wrapper {
    position: relative;

    width: 100%;
    max-width: 535px;

    @media (max-width: $xs) {
      max-width: 100%;
    }
  }

  &__search {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }

  &__search-icon {
    position: absolute;
    left: 15px;
    top: 14px;

    display: block;
    width: 20px
  }

  &__input {
    width: 100%;
    padding:  15px 20px 15px 50px;

    box-shadow: 0 10px 8px -8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 1px solid $border;
  }

  &__menu {
    display: block;
    margin-bottom: 55px;
  }


}
