<div class="contacts">
  <app-menu class="contacts__menu" [menu]="menu"></app-menu>

  <div class="contacts__search">
    <div class="contacts__search-input-wrapper">
      <app-search-icon class="contacts__search-icon"></app-search-icon>
      <input class="contacts__input" [(ngModel)]="searchInput" type="text">
    </div>
  </div>

  <ul class="contacts__list">
    <li *ngIf="!favorites" class="contacts__item">
      <a [routerLink]="addContactRoute">
        <app-add-button></app-add-button>
      </a>
    </li>
    <li *ngFor="let contact of contacts" class="contacts__item">
      <app-contact-card [contact]="contact" (delete)="deleteContact($event)"></app-contact-card>
    </li>
  </ul>
</div>
