<div class="app">
  <div class="app__container">
    <header class="app__header">
      <h1 class="app__title">Typeqast</h1>
    </header>
    <main class="app__content">
      <router-outlet></router-outlet>
    </main>

  </div>

</div>
