@import "../assets/sass/variables";

.app {

  &__container {
    max-width: 1900px;
    min-height: 100vh;
    margin: auto;

    background: white;
  }

  &__header {
    padding: 15px 0 10px 0;
    background: $primary;
    border-bottom: 5px solid $secondary;
  }

  &__title {
    margin: 0;

    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: white;
  }

  &__content {
    max-width: 1360px;
    padding: 50px 20px;
    margin: auto;

    @media (max-width: $md) {
      padding: 20px;

    }
  }
}
