@import "src/assets/sass/variables";
@import "src/assets/sass/mixins";

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 150px;

  @media (max-width: $xs) {
    min-height: 100px;
  }

  background-image: linear-gradient(to right, $border 50%, transparent 50%),
  linear-gradient(to right, $border 50%, transparent 50%),
  linear-gradient(to bottom, $border 50%, transparent 50%),
  linear-gradient(to bottom, $border 50%, transparent 50%);

  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 1px, 15px 1px, 1px 15px, 1px 15px;

  &__label {
    font-size: 1.2rem;
    line-height: 1;
  }

  &__icon {
    display: block;
    text-align: center;
    font-size: 35px;
    line-height: 1;
    font-weight: 600;
  }

  &:hover {
    border-color: $primary;

    background-image: linear-gradient(to right, $primary 50%, transparent 50%),
    linear-gradient(to right, $primary 50%, transparent 50%),
    linear-gradient(to bottom, $primary 50%, transparent 50%),
    linear-gradient(to bottom, $primary 50%, transparent 50%);
  }
}
