@import "../../../../assets/sass/variables";
@import "../../../../assets/sass/mixins";

.contact {
  display: flex;
  flex-wrap: wrap;
  max-width: 880px;
  margin: auto;

  &__img-outer {
    position: relative;

    width: 175px;
    height: 175px;
    margin: 0 auto 15px auto;
  }

  &__img-inner{
    width: 100%;
    height: 100%;
    overflow: hidden;

    border-radius: 50%;
    border: 1px solid $border;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__img-upload {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(-50%);

    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;

    background: $primary;
    border-radius: 50%;

    cursor: pointer;

    input {
      display: none;
    }
  }

  &__img {
    padding-right: 30px;

    @media (max-width: $md) {
      width: 100%;
      padding: 0;
    }
  }

  &__info {
    flex: 1;
  }

  &__header {
    display: flex;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 20px;
    margin-bottom: 60px;

    border-bottom: 2px solid $primary;
  }

  &__actions {
    display: none;

    @media (max-width: $md) {
      display: flex;
    }
  }

  &__input {
    border: none;
    width: 100%;

    border-bottom: 1px solid $secondary;
  }

  &__validation {
    width: 100%;
  }

  &__name {
    margin: 0 0 0 20px;

    &,
    input {
      color: $link;
      font-size: 2rem;
      line-height: 1;
      font-weight: 300;
    }
  }

  &__action {
    @media (max-width: $md) {
      display: none;
    }

    &--edit {
      margin-left: 30px;
    }

    &--save,
    &--fav {
      margin-left: auto;
    }

    &--responsive {
      display: block;
    }
  }

  &__body {
    padding: 0 50px;

    @media (max-width: $md) {
      padding: 0;
    }
  }

  &__numbers,
  &__email {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 60px;

    line-height: 20px;
  }

  &__label {
    display: flex;
    align-items: center;
    padding-right: 50px;

    font-size: 1.2rem;
    font-weight: 500;
    color: $primary;

    @media (max-width: $md) {
      width: 100%;
      margin-bottom: 10px;

      &--numbers {
        padding-right: 0;
        margin-bottom: 18px;
      }
    }
  }

  &__value {
    flex: 1;

    font-size: 1.2rem;
    color: $link;
  }

  &__number-inner {
    display: flex;

    @media (max-width: $md) {
      flex-wrap: wrap;
    }

  }

  &__action--save,
  &__remove-phone,
  &__add-phone {
    border: 1px solid $primary;
    background: transparent;
    color: $primary;

    cursor: pointer;

    &:hover {
      background: $primary;
      color: $white;
    }
  }

  &__remove-phone {
    margin-left: auto;
  }

  &__add-phone {
    padding: 0;
    margin-right: 5px;
    min-width: 25px;
    width: 25px;
    height: 25px;

    border-radius: 50%;

    line-height: 1;
    font-size: 22px;
  }

  &__number-outer {
    margin-bottom: 40px;

    @media (max-width: $md) {
      margin-bottom: 15px;
    }
  }

  &__number {
    text-decoration: underline;
  }

  &__number-label {
    display: block;
    min-width: 75px;
    margin-right: 40px;

    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;

    @media (max-width: $md) {
      width: 100%;
      margin-bottom: 5px;
      margin-right: 0;
    }

  }


}
