<div *ngIf="contact" class="contact">
  <div class="contact__img">
    <div class="contact__actions">
      <app-back-btn [backRoute]="backRoute" class="contact__action contact__action--back contact__action--responsive"></app-back-btn>
      <app-favourite-btn [contact]="contact" class="contact__action contact__action--fav contact__action--responsive"></app-favourite-btn>
      <app-edit-btn [contact]="contact" class="contact__action contact__action--edit contact__action--responsive"></app-edit-btn>
    </div>
    <div class="contact__img-outer">
      <div class="contact__img-inner">
        <img [src]="contact.image || '/assets/images/user.svg'" alt="Contact image">
      </div>
    </div>
  </div>
  <div class="contact__info">
    <div class="contact__header">
      <app-back-btn [backRoute]="backRoute" class="contact__action contact__action--back"></app-back-btn>
      <h2 class="contact__name">{{ contact.name }}</h2>
      <app-favourite-btn [contact]="contact" class="contact__action contact__action--fav"></app-favourite-btn>
      <app-edit-btn [contact]="contact" class="contact__action contact__action--edit"></app-edit-btn>
    </div>
    <div class="contact__body">
      <div class="contact__email">
        <div class="contact__label">
          email
        </div>
        <div class="contact__value">
          <a [href]="'mailto:'+contact.email ">{{ contact.email }}</a>
        </div>
      </div>

      <div class="contact__numbers">
        <div class="contact__label contact__label--numbers">
          numbers
        </div>
        <div class="contact__value">
          <div *ngFor="let number of contact.numbers" class="contact__number-outer">
            <div class="contact__number-inner">
              <span class="contact__number-label">{{ number.label }}</span>
              <a class="contact__number" [href]="'tel:'+number.number">{{ number.number }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
