/* You can add global styles to this file, and also import other style files */
@import "assets/sass/variables";

* {
  box-sizing: border-box;
}

html {
  font-size: $root;
  line-height: 1.5;

  body {
    margin: 0;

    background: $background;

    a {
      text-decoration: none;
      color: $link;

      &:hover {
        color: $primary;
      }
    }

    button, input {
      &:focus {
        outline: none;
      }
    }
  }
}

