<form *ngIf="contactForm" class="contact" [formGroup]="contactForm" (ngSubmit)="save()">
  <div  class="contact__img">
    <div class="contact__actions">
      <app-back-btn class="contact__action contact__action--back contact__action--responsive"></app-back-btn>
      <button class="contact__action contact__action--save contact__action--responsive" type="submit">Save</button>
    </div>
    <div class="contact__img-outer">
      <div class="contact__img-inner">
        <img [src]="contactForm.value.image || '/assets/images/user.svg'" alt="Contact image">
      </div>
      <label class="contact__img-upload">
        <app-photo-icon></app-photo-icon>
        <input type="file" (change)="onFileChange($event)" />
      </label>
    </div>

  </div>
  <div class="contact__info">
    <div class="contact__header">
      <app-back-btn class="contact__action contact__action--back"></app-back-btn>
      <h2 class="contact__name">
        <input type=text class="contact__input" placeholder="Enter contact name..." formControlName="name" id="name" autocomplete="off">
      </h2>
      <button class="contact__action contact__action--save" type="submit">Save</button>
    </div>
    <div class="contact__body">
      <div class="contact__email">
        <div class="contact__label">
          email
        </div>
        <div class="contact__value">
          <input type=email class="contact__input" formControlName="email" id="email" autocomplete="off">
          <div *ngIf="contactForm.controls.email.errors && contactForm.controls.email.touched" class="contact__validation">
            <ng-container *ngIf="contactForm.controls.email.errors.email">
              This email is invalid.
            </ng-container>
          </div>

        </div>
      </div>

      <div class="contact__numbers">
        <div class="contact__label">
          <button (click)="addPhoneNumber()" type="button" class="contact__add-phone">+</button>
          numbers
        </div>
        <div class="contact__value" formArrayName="numbers">
          <ng-container *ngFor="let control of phoneNumbers.controls; let i = index">
            <div [formGroup]="control" class="contact__number-outer">
              <div [formGroup]="control" class="contact__number-inner">
                <span class="contact__number-label"><input placeholder="Label" type=text class="contact__input" formControlName="label" autocomplete="off"></span>
                <input placeholder="+ 123 456 78 90" type=text class="contact__input" formControlName="number" autocomplete="off">
                <button type="button" (click)="removePhoneNumber(i, control)" class="contact__remove-phone">Delete</button>
              </div>
              <div class="contact__validation">
                <ul>
                  <ng-container *ngIf="control['controls'].number.errors && control['controls'].number.touched">
                    <li *ngIf="control['controls'].number.errors.required">
                      Number field is required.
                    </li>
                    <li *ngIf="control['controls'].number.errors.pattern">
                      Invalid phone number.
                    </li>
                  </ng-container>
                  <ng-container *ngIf="control['controls'].label.errors && control['controls'].label.touched">
                    <li *ngIf="control['controls'].label.errors.required">
                      Label field is required.
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</form>
