@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.action-btn {
  display: block;
  width: 20px;
  padding: 0;

  border: none;
  background: transparent;
  cursor: pointer;

  &:hover {
    svg {
      path {
        fill: $primary;
      }
    }
  }
}
