// COLORS
$primary: #3ca4ae;
$secondary: #70bbc3;

$white: #fff;

$link: #bbc4c3;
$background: #eeeeee;
$border: #bbc4c3;


// FONTS
$root: 16px;


// BREAKPOINTS
$xl: 1200px;
$lg: 991px;
$md: 768px;
$xs: 575px;
